In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

H:\github\weld-county-weather-accidents\venv\Lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
H:\github\weld-county-weather-accidents\venv\Lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H (1).gfortran-win_amd64.dll
H:\github\weld-county-weather-accidents\venv\Lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df_denver = pd.read_csv('df_denver.csv', low_memory=False)

In [3]:
df_denver.INJLEVEL_1.sum()

524090

In [4]:
df_denver.INJLEVEL_2.sum()

44287

In [5]:
df_denver.INJLEVEL_3.sum()

21167

In [6]:
injury_sums = {'1': df_denver.INJLEVEL_1.sum(), '2': df_denver.INJLEVEL_2.sum(), '3': df_denver.INJLEVEL_3.sum(), '4': df_denver.INJLEVEL_4.sum(), '5': df_denver.INJLEVEL_5.sum()}

In [7]:
injury_counts = pd.DataFrame(data=injury_sums, index=[0] )

In [8]:
injury_counts = injury_counts.T

In [9]:
injury_counts

        0
1  524090
2   44287
3   21167
4    7462
5     639

In [10]:
injury_multiplier = []
for i in range(1, 6):
    mult = i * np.sqrt(i)
    injury_multiplier.append(round(mult, 2))

In [11]:
injury_counts.rename(columns={0: 'SUMS'}, inplace=True)

In [12]:
injury_counts['MULTIPLIER'] = injury_multiplier

In [13]:
injury_post_weighting = injury_counts['SUMS'] * injury_counts['MULTIPLIER']

In [14]:
injury_counts['WEIGHTED'] = round(injury_post_weighting)

In [15]:
injury_counts

     SUMS  MULTIPLIER  WEIGHTED
1  524090        1.00  524090.0
2   44287        2.83  125332.0
3   21167        5.20  110068.0
4    7462        8.00   59696.0
5     639       11.18    7144.0

In [27]:
def injury_weightings(passed_df):
    injury_sums = {'1': passed_df.INJLEVEL_1.sum(), '2': passed_df.INJLEVEL_2.sum(), '3': passed_df.INJLEVEL_3.sum(), '4': passed_df.INJLEVEL_4.sum(), '5': passed_df.INJLEVEL_5.sum()}

    returned_df_name = pd.DataFrame(data=injury_sums, index=[0] )
    print(returned_df_name)
    returned_df_name = returned_df_name.T
    print(returned_df_name)
    injury_multiplier = []
    for i in range(1, 6):
        mult = i * np.sqrt(i)
        injury_multiplier.append(round(mult, 2))

    returned_df_name.rename(columns={0: 'SUMS'}, inplace=True)
    print(returned_df_name)
    returned_df_name['MULTIPLIER'] = injury_multiplier

    injury_post_weighting = returned_df_name['SUMS'] * returned_df_name['MULTIPLIER']

    returned_df_name['WEIGHTED'] = round(injury_post_weighting)

    return returned_df_name

In [28]:
injury_weighting_df = injury_weightings(df_denver)

        1      2      3     4    5
0  524090  44287  21167  7462  639
        0
1  524090
2   44287
3   21167
4    7462
5     639
     SUMS
1  524090
2   44287
3   21167
4    7462
5     639

In [29]:
injury_weighting_df

     SUMS  MULTIPLIER  WEIGHTED
1  524090        1.00  524090.0
2   44287        2.83  125332.0
3   21167        5.20  110068.0
4    7462        8.00   59696.0
5     639       11.18    7144.0